# IMRANE OU EL FAQUIR

## Importer le code de l'algorithme Baum Welch que nous avons développé dans le fichier baum_welch.py

In [19]:
import baum_welch as bw
import numpy as np
import pandas as pd

## Tester l'algorithme Baum Welch sur l'exemple que nous avons dans le cours

In [20]:
# b_0 est l'état initial 
b_0 = np.array([0.0, 0.0, 1.0, 0.0, 0.0])
# q c'est la probabilité d'émission
q   = np.array([[ 0, 0, 0, 1, 0],
                [ 0, 0, 1, 0, 0],
                [ 0, 0, 1, 0, 0],
                [ 0, 0, 1, 0, 0],
                [ 0, 0, 0, 1, 0]])
# p c'est la probabilité de transition
p   = np.array([[ 0.75, 0.25, 0.00, 0.00, 0.00],
                [ 0.25, 0.75, 0.25, 0.00, 0.00],
                [ 0.00, 0.25, 0.75, 0.25, 0.00],
                [ 0.00, 0.00, 0.25, 0.75, 0.25],
                [ 0.00, 0.00, 0.00, 0.25, 0.75]])
# observ_seq c'est la séquence d'observation o = (o_1, o_2, ... , o_n)
observ_seq = np.array([ 2, 2, 3, 2, 3, 2, 2, 2, 3, 3])

In [21]:
baum = bw.BaumWelch(observ_seq, p, q, b_0, max_iter = 100)
result = baum.fit()

### Matrice de transition et d'émission

In [22]:
pd.DataFrame(result["Transition"])

          0         1     2         3         4
0  0.333333  0.666667  0.00  0.000000  0.000000
1  0.750000  0.000000  0.25  0.000000  0.000000
2  0.000000  0.500000  0.00  0.500000  0.000000
3  0.000000  0.000000  0.25  0.000000  0.750000
4  0.000000  0.000000  0.00  0.666667  0.333333

In [23]:
pd.DataFrame(result["Emission"])

     0    1    2    3    4
0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0
4  0.0  0.0  0.0  1.0  0.0

## Application de l'algorithme Baum Welch dans le problème de Poule et oeufs

In [24]:
# b_0 est l'état initial 
b_0 = np.array([0.2, 0.8])
# q c'est la probabilité d'émission
q   = np.array([[ 0.3, 0.7],
                [ 0.8, 0.2]])
# p c'est la probabilité de transition
p   = np.array([[ 0.5, 0.5],
                [ 0.3, 0.7]])
# observ_seq c'est la séquence d'observation o = (P, P, P, P, P, O, O, P, P, P,)
observ_seq = np.array([0, 0, 0, 0, 0, 1, 1, 0, 0])

In [25]:
baum = bw.BaumWelch(observ_seq, p, q, b_0, max_iter = 100)

In [26]:
result = baum.fit()

### La matrice de transition

In [31]:
pd.DataFrame(result["Transition"])

          0         1
0  0.524559  0.475441
1  0.184265  0.815735

### La matrice d'émission

In [30]:
pd.DataFrame(result["Emission"])

          0             1
0  0.108827  8.911728e-01
1  1.000000  2.116565e-31